
/.obsidian/community-plugins.json
.obsidian/plugins/obsidian-git/data.json
/.obsidian/*
/conflict-files-obsidian-git.md
/.obsidian/plugins/obsidian-git/data.json
/.obsidian/workspace.json
.obsidian/workspace.json
